.banner {
    width: 100%;
}

#home--banner--image {
    /* border: 1px red solid; */
    width: 100%;
}

section {
    margin: 0 auto;
    width: 50%;
    padding-top: 3rem;
    padding-bottom: 8rem;
}

article h4 {
    color: #453536;
    font-family: "Libre Baskerville", "sans-seriff";
    font-size: 1rem;
    text-align: center;
}

article h1 {
    font-size: 2.5rem;
    font-family: "Playfair Display", "sans-seriff";
    color: #202036;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

article p {
    color: #545454;
    font-family: "Roboto", "sans-seriff";
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 1rem;
}

.about--image--wrapper {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.about--image--container {
    position: relative;
    width: 100%;
    text-align: center;
}

.about--link {
    cursor: pointer;
}

.about--link:hover > div > .about--image--text {
    background-color: rgba(32, 32, 64, 0.6);
}

.about--image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.about--image--text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: "Playfair Display", "sans-seriff";
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
}
