.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    vertical-align: middle;
}

section {
    margin: 0 auto;
    width: 60%;
}

section h1 {
    text-align: center;
    font-family: "Libre Baskerville", "sans-seriff";
    font-size: 2.5rem;
    color: #453536;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.guest--rooms--wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 7rem;
}

.guest--card--header {
    z-index: 1;
    padding-right: 1.42rem;
    cursor: pointer;
}

.guest--rooms--card {
    border: solid 1px #514f4c;
    font-family: "Playfair Display", "sans-seriff";
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom: 1px solid #514f4c;
    transition: 0.1s all ease-in-out;
}

.guest--rooms--card p {
    display: flex;
    justify-content: space-between;
    width: 96%;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    transition: none;
}

.guest--rooms--card--content {
    color: #545454;
    font-family: "Roboto", "sans-seriff";
    font-size: 0.8rem;
    line-height: 1.4rem;
    font-weight: 400;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #ffffff;
}

.end {
    line-height: 0.3rem;
}

.guest--rooms--card--content .end a {
    color: #545454;
    padding-left: 1rem;
}

.type2 h1 {
    font-family: "Playfair Display", "sans-seriff";
    font-size: 1.1rem;
    color: #202036;
    text-align: start;
    padding: 1.5rem 0rem 0rem 1rem;
    letter-spacing: 0.1rem;
}

.type2 h2 {
    padding-left: 1rem;
    font-family: "Libre Baskerville", "sans-seriff";
    font-size: 1rem;
    font-weight: 400;
}

.type2 ul {
    padding-left: 3rem;
    padding-right: 1rem;
    list-style-type: square;
    padding-top: 1rem;
}

.type2 ul li {
    color: #545454;
    font-size: 1rem;
    font-family: "Roboto", "sans-seriffs";
    margin-bottom: 2rem;
}

.type2 p {
    font-size: 1rem;
    line-height: 1.5rem;
}

.hide {
    display: none;
}

.clicked {
    background-color: #202036;
    color: #ffffff;
}

.guest--rooms--card.clicked {
    background-color: #202036;
    color: #ffffff;
}

.guest--images {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    justify-content: center;
    gap: 11rem;
    padding-bottom: 2rem;
}

.guest--grid--image {
    width: 100%;
}

@media (max-width: 30rem) {
    .guest--images {
        grid-template-columns: repeat(1, 80%);
        gap: 2rem;
    }

    section {
        width: 80%;
    }

    .guest--rooms--wrapper {
        padding-bottom: 4rem;
    }

    .guest--rooms--card p {
        width: 92%;
    }
}

@media (min-width: 30rem) and (max-width: 60rem) {
    .guest--images {
        grid-template-columns: repeat(1, 80%);
        gap: 4rem;
    }

    section {
        width: 80%;
    }

    .guest--rooms--wrapper {
        padding-bottom: 4rem;
    }
}
